@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

/*========================================
    ||GENERAL_CSS||
=========================================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 15px !important;
    font-family: 'Poppins', sans-serif;
    color: #454545;
    vertical-align: baseline;
    line-height: 1.7 !important;
    font-weight: 400;
    overflow-x: hidden;
}
img {
    max-width: 100%;
    height: auto;
}
p {
    margin: 0 0 26px !important;
    line-height: 1.8 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    color: #0a0a0a;
    margin: 0 0 26px !important;
    line-height: 1.2 !important;
}
h1 {
    font-size: 52px;
    line-height: 62px;
    font-weight: 700;
}
h2 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
}
h3 {
    font-size: 28px;
    line-height: 42px;
    font-weight: 700;
}
h4 {
    font-size: 26px;
    line-height: 36px;
    font-weight: 700;
}
h5 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
}
h6 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
}
.text-md-left {
    text-align: left;
}
.text-md-right {
    text-align: right;
}
.text-right {
    text-align: right;
}
.no-border {
    border: none;
}
/*==!important==*/
.uppercase {
    text-transform: uppercase;
}
.capitalize {
    text-transform: capitalize;
}

.extra-bold {
    font-weight: 800;
}
/*==!important==*/
.gray-bg {
    background: #ebebeb;
}
.gray-bg2 {
    background: #ededed;
}
.gray-bg3 {
    background: #f6f7f9;
}
.gray-bg4 {
    background: #f6f6f6;
}
.gray-bg5 {
    background: #f9f9f9;
}
.gray-bg6 {
    background: #f7f7f7;
}
.gray-bg7 {
    background: #fcfcfc;
}
.black-bg {
    background: #15161a;
}
.black-bg2 {
    background: #0c0b0b;
}
.black-bg3 {
    background: #201d1d;
}
/*=!important=*/
.white-color {
    color: #ffffff;
}
.title-color {
    color: #0a0a0a;
}
.body-color {
    color: #454545;
}
.white-bg {
    background: #fff;
}
.primary-color2 {
    color: #e94d65;
}
.primary-bd2 {
    background: #e94d65;
}
.secondary-bg2 {
    background: #043d72;
}
/*=!important=*/
.rs-vertical-bottom {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: flex-end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}
.rs-vertical-middle {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
/*==!important*/
a {
    color: #bb0b0b;
    transition: all 0.3s ease;
    text-decoration: none;
    outline: none;
}
a:active,
a:hover {
    text-decoration: none;
    outline: 0 none;
    color: #bb0b0b;
}
ul {
    list-style: outside none none;
    margin: 0 !important;
    padding: 0 !important;
}
.clear {
    clear: both;
}
::-moz-selection {
    background: #bb0b0b;
    text-shadow: none;
    color: #ffffff;
}
::selection {
    background: #bb0b0b;
    text-shadow: none;
    color: #ffffff;
}

.btn {
    display: inline-block;
    font-weight: 600;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    text-transform: capitalize;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: all .5s ease-in-out;
}

#scrollUp {
    background: #bb0b0b;
    position: absolute;
    right: 25px;
    bottom: 40px;
    height: 42px;
    width: 40px;
    z-index: 9999;
    text-align: center;
    color: #fff;
    font-size: 26px;
    line-height: 40px;
    transition: all 0.3s ease 0s;
}
/*========================================
    ||GLOBAL_CSS_START||
==========================================*/
/*========================================
    ||PRELOADER_START||
==========================================*/
#proloader {
    position: fixed;
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
}

.loaderCircle:before {
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    left: 0;
    box-shadow: 0 0 6px rgb(0 0 0 / 40%);
}

.loaderCircle {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    animation: ring 2s linear infinite;
}

.loaderCenter {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 150px;
    text-align: center;
}

.loaderCenter span {
    display: block;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: bold;
    animation: text 3s ease-in-out infinite;
}

@keyframes ring{
    0%{
        transform: rotate(5deg);
        box-shadow: 1px 3px 2px #ef0445;
    }
    15%{
        transform: rotate(45deg);
        box-shadow: 1px 3px 2px #68feed;
    }
    45%{
        transform: rotate(160deg);
        box-shadow: 1px 3px 2px #9a9a9a;
    }
    75%{
        transform: rotate(180deg);
        box-shadow: 1px 3px 2px #456ff9;
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 1px 3px 2px #9a9a9a;
    }
}

@keyframes text{
    50%{
        color: #9a9a9a;
    }
}
/*========================================
    ||PRELOADER_END||
==========================================*/
/*========================================
    ||HEADER_START||
==========================================*/
.headerArea {
    background: #020c19;
}

.headerArea {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 9999;
}

/*========================================
    ||TOPBAR_START||
==========================================*/
.topBar {
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.topBarLeft ul {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.topBarLeft ul li {
    margin-right: 16px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    line-height: 50px;
    padding-right: 20px;
    text-align: center;
    align-items: center;
}

.topBarRight ul li span {
    font-size: 14px;
    color: #fff;
}

.topBarRight ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    padding-top: 0;
    padding: b;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.topBarRight ul li {
    margin-right: 15px;
    padding-right: 15px;
    align-items: center;
    line-height: 50px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.topBarRight ul li:last-child {
    border-right: none;
}

.topBarRight ul li a {
    padding-right: 10px;
    font-size: initial;
    color: #fff;
}

.topBarLeft ul li a {
    color: #fff;
    font-size: 15px;
}

.topBarLeft ul li a i {
    color: #fff;
}

.topBarLeft ul li i {
    color: #fff;
    margin-right: 5px;
    font-size: 16px;
}
/*========================================
    ||TOPBAR_END||
==========================================*/
/*========================================
    ||NAVIGATION_START||
==========================================*/
.navBar {
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    z-index: 99;
}

.logo img {
    max-height: 50px;
    max-width: 100%;
}

.logo {
    position: relative;
}

.mainMenu .mainNav {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mainMenu .mainNav li {
    margin-left: 10px;
    margin-right: 10px;
}

.mainMenu .mainNav li a {
    text-align: center;
    align-items: center;
    padding: 10px 10px;
    font-size: 20px;
    font-weight: 600;
    line-height: 50px;
    color: #fff;
    transition: all .3s ease-in-out;
}

.mainMenu .mainNav li a.active {
    color: #bb0b0b;
}

.mainMenu .mainNav li a:hover,
.mainMenu .mainNav li.active a{
    color: #bb0b0b;
}

.search {
    margin-left: 30px;
    cursor: pointer;
}

.search i {
    font-size: 20px;
    font-weight: 600;
    padding: 10px 10px;
    color: #fff;
}

/*========================================
    ||NAVIGATION_END||
==========================================*/

/*========================================
    ||MOBILE_MENU_START||
==========================================*/
.mobileMenu {
    position: relative;
}

.mobileMenu span {
    display: none;
    position: absolute;
    right: 0;
    font-size: 34px;
    color: #fff;
    top: 0;
}
.overlay {
    background: rgb(0 0 0 / 97%);
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    transition: 0.5s ease-in-out;
    width: 0%;
}

.overlayItem {
    position: relative;
    top: 15%;
    flex-direction: column;
    display: flex;
    ;;;width: 100%;
    align-items: center;
}

.overlayItem a {
    font-size: 40px;
    color: #fff;
    line-height: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.overlay .closeBtn {
    color: #fff;
    position: absolute;
    right: 10%;
    top: 4%;
    font-size: 30px;
}

.headerArea.sticky {
    padding: 14px 0;
    background: #fff  !important;
    transition: all 0.4s ease-out 0s;
    animation: 800ms ease-in-out 0s normal none 1 running fadeInDown;
}

.topBarLeft {
    color: #bb0b0b;
    position: relative;
}

.headerArea.sticky .topBar {
    display: none;
}

.headerArea.sticky .mainNav li a {
    color: #000;
}
.mainMenu .mainNav li a:hover, 
.mainMenu .mainNav li.active a {
    color: #bb0b0b;
}

.headerArea.sticky .mainNav li a:hover,
.headerArea.sticky .mainNav li.active a{
    color: #bb0b0b;
}

.headerArea.sticky .search i{
    color: #000;
}

.headerArea.sticky .mainNav li a.active {
    color: #bb0b0b;
}

.headerArea.sticky .mobileMenu span {
    color: #000;
}

.not-sticky{
    display: block;
}

.headerArea.sticky .not-sticky {
    display: none;
}

.logo-sticky{
    display: none;
}

.headerArea.sticky .logo-sticky {
    display: block;
}

/*========================================
    ||HEADER_END||
==========================================*/

/*========================================
    ||HERO_START||
=========================================*/
.single-slider {
    position: relative;
    overflow: hidden;
}

.slider-active {
    background-image: url(../img/main-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 111;
}

.contentWrapper{
    padding: 310px 0 280px;
    position: relative;
}

.borderLine {
    background: #bb0b0b;
    width: 80px;
    height: 6px;
    margin-bottom: 25px;
}

.contentWrapper h1 {
    font-size: 84px;
    line-height: 84px;
    font-weight: 800;
    color: #fff;
    margin: 0px 0px 14px 0px;
}

.contentWrapper h3 {
    font-size: 53px;
    line-height: 63px;
    font-weight: 700;
    color: #fff;
    margin: 0px 0px 47px 0px;
}

.button {
    background: #bb0b0b;
    border-radius: 0;
    padding: 18px 35px 18px 35px;
    overflow: hidden;
    border: 0;
}

/*=========button Style============*/
.button a {
    color: #fff;
    font-size: 15px;
    position: relative;
}

.button a:after {
    content: "";
    position: absolute;
    top: -8px;
    left: -50px;
    width: 300px;
    height: 200px;
    border-radius: 50%;
    background: #333;
    transform: translate(-40px, -80px) scale(0.2);
    transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
    opacity: 0;
    overflow: hidden;
}

.button a:hover:after{
    opacity: .3;
    transform-origin: 100px 100px;
    transform: scale(1) translate(-10px, -70px);
}

/*========================================
    ||HERO_ANIMATE_START
=========================================*/

.animate-part .spiner {
    position: absolute;
    bottom: 0;
}

.animate-part .spiner.dot {
    right: 46%;
    top: 30%;
}

.animate-part .spiner.tri-circle {
    left: 35%;
    bottom: 10%;
}

.animate-part .spiner.circle {
    right: 35%;
    bottom: 27%;
}

.animate-part .spiner.line {
    bottom: -40px;
    right: -10px;
}

.animate-part .spiner.line .up-down {
    width: 1030px;
}

.animate-part .spiner.circle .up-down {
    width: 85px;
}

.animate-part .spiner.tri-circle .up-down {
    width: 150px;
}

.animate-part .spiner.dot .rotate_Y {
    width: 70px;
}

.rotate_Y {
    animation: mymove 5s infinite;
}

@keyframes mymove {
    0% {
        transform: rotateY(-50deg);
    }
    100% {
        transform: rotateY(50deg);
    }
}

.up-down {
    animation: up-down 5s alternate infinite;
    -webkit-animation: up-down 5s alternate infinite;
}

@keyframes up-down {
    0% {
        transform: translateY(20px);
        -webkit-transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(30px);
        -webkit-transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
        -webkit-transform: translateY(-50px);
    }
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
}
/*========================================
    ||HERO_END||
=========================================*

/*========================================
    ||ABOUT_SECTION_START
=========================================*/

.aboutSction{
    background-image: url(../img/about-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutTitle h3 {
    font-size: 20px;
    line-height: 1.6;
    color: #191821;
    font-weight: 600;
}
/*========================================
    ||SERVICE_SECTION_START||
=========================================*/

.serviceSction{
    background-image: url(../img/ser-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.serviceItem {
    display: flex;
}

.serviceIcon img {
    height: 70px;
    width: 70px;
    max-width: unset;
}

.serviceText {
    padding-left: 30px;
}

.serviceText h3 {
    color: #fff;
    font-size: 20px;
    margin: 0 0 20px;
    line-height: 6px;
}

.serviceText p {
    color: #fff;
    line-height: 26px;
}


.serviceTitle h2 {
    color: #fff;
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 0;
}
/*========================================
    ||SERVICE_SECTION_END||
=========================================*/

/*========================================
    ||PORTFOLIO_SECTION_START||
=========================================*/
.portfolioSection{
    background-image: url(../img/portfolio-bg.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.portfolioTitle h2 {
    font-size: 36px;
    margin-top: 25px;
    margin-bottom: 0;
    line-height: 46px;
}

.gridFilter button {
    font-size: 16px;
    border: 0;
    outline: 0;
    padding: 6px 20px 6px 20px;
    font-weight: 600;
    display: inline-block;
    background: initial;
    transition: .5s ease-in-out;
}

.gridFilter button.mixitup-control-active {
    background: #bb0b0b;
    color: #fff;
}

.gridFilter button:hover {
    background: #bb0b0b;
    color: #fff;
}

.portfolioItem img {
    max-width: 100%;
    height: auto;
}

.portfolioItem {
    position: relative;
    overflow: hidden;
}

.portfolioItem .portfolioContent{
    position: absolute;
    bottom: -200px;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 17px 25px 15px;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
    background-color: #1A1111E0;
    z-index: 1;
}

.portfolioItem:hover .portfolioContent {
    visibility: visible;
    opacity: 1;
    bottom: 0;
}

.portfolioItem .portfolioContent .portfolioInner {
    position: absolute;
    bottom: -100px;
    left: 40px;
    transition: 0.3s ease-in;
}

.portfolioItem:hover .portfolioContent .portfolioInner {
    bottom: 45px;
}

.portfolioItem .portfolioContent .portfolioInner span {
    color: #fff;
    font-size: 18px;
}

.portfolioItem .portfolioContent .portfolioInner h3 {
    color: #fff;
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 20px;
}
.portfolioItem .portfolioContent .portfolioInner a {
    background: #bb0b0b;
    color: #fff;
    font-size: 20px;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
}
/*========================================
    ||SERVICE_SECTION_EDN||
=========================================*/

/*========================================
    ||TEAM_SECTION_START||
=========================================*/
.teamSection{
    background-image: url(../img/team-bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.teamTitle h2 {
    color: #fff;
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 0;
}

.teamItem {
    position: relative;
}

.teamImg {
    position: relative;
    overflow: hidden;
}
.teamItem .teamImg .socialLink {
    position: absolute;
    top: 0;
    right: -50px;
    width: 50px;
    height: auto;
    background: #bb0b0b;
    padding: 12px 0 0;
    text-align: center;
    visibility: visible;
    opacity: 0;
    transition: all .4s ease 0s;
}

.teamItem .teamImg .socialLink:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 50px solid #bb0b0b;
    border-right: 50px solid transparent;
    left: 0;
    bottom: 0;
    display: block;
    top: 100%;
}

.teamItem:hover .teamImg .socialLink {
    right: 0;
    width: 50px;
    opacity: 1;
    visibility: visible;
}

.teamItem .teamImg .socialLink li a {
    color: #fff;
    font-size: 18px;
    background: transparent;
    line-height: 40px;
}

.teamImg img {
    width: 100%;
    display: block;
}

.teamContent {
    background: #191919;
    text-align: center;
    padding: 20px 20px 25px;
}

.teamContent h3 {
    color: #fff;
    font-size: 20px;
    margin: 0;
    line-height: 46px;
    text-transform: capitalize;
}

.teamContent span {
    font-size: 15px;
    color: #fff;
    text-transform: capitalize;
}


.teamSlider .owl-dots{
    text-align: center;
    margin-top: 30px;
}

.teamSlider .owl-dots .owl-dot {
    width: 25px;
    height: 8px;
    background: #bb0b0b;
    display: inline-block;
    margin: 0 8px;
    border-radius: 0;
    border: none;
    padding: 3px 0;
    box-shadow: 0px 3px 8px 0px rgb(0 0 0 / 25%);
    transition: all 0.3s ease;
}

.teamSlider .owl-dots .owl-dot:hover,
.teamSlider .owl-dots .owl-dot.active{
    width: 40px;
    background: #bb0b0b;
    opacity: .5;
}

/*========================================
    ||TEAM_SECTION_END||
=========================================*/
/*========================================
    ||SKILL_SECTION_START||
=========================================*/
.skillSection{
    background-image: url(../img/choose-bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.progressInner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.progressInner h6 {
    font-size: 14px;
    margin: 0;
}

.progressInner span {
    font-weight: 600;
    font-size: 14px;
}

.progress {
    display: flex;
    height: 7px;
    line-height: 7px;
    width: 100%;
    overflow: hidden;
    font-size: initial;
    background-color: #EBEBEB;
    border-radius: initial;
    margin: 10px 0 24px;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    background-color: #bb0b0b;
    transition: width .6s ease;
}

.choiceVideo {
    position: relative;
}

.choiceVideo .animate-border .popup-border {
    position: absolute;
    ;left: 50%;
    top: 50%;
    background: #bb0b0b;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    transform: translate(-50%, -50%);
}
.choiceVideo .animate-border .popup-border:after {
    content: "";
    position: absolute;
    width: 180px;
    height: 180px;
    display: block;
    border-radius: 50%;
    border: 2px solid #bb0b0b;
    line-height: 180px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: zoomBigs 3.25s linear infinite;
}

.choiceVideo .animate-border .popup-border:before {
    content: "";
    position: absolute;
    border: 2px solid #bb0b0b;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    animation: zoomBig 3.25s linear infinite;
}
.choiceVideo .animate-border .popup-border i {
    color: #fff;
    font-size: 20px;
    line-height: 80px;
    display: block;
}

/*========VIDEO_KEYFRAMS==========*/
@keyframes zoomBig {
    0% {
        transform: translate(-50%, -50%) scale(0);
        border-width: 3px;
    }
    50%{
        border-width: 2px;
    }
    75%{
        border-width: 1px;
    }
    100%{
        transform: translate(-50%, -50%) scale(1);
        border-width: 1px;
    }
    
    
}

@keyframes zoomBigs {
    0% {
        transform: translate(-50%, -50%) scale(0.3);
        opacity: 1;
        border-width: 3px;
    }
    50% {
        opacity: .5;
        border-width: 2px;
    }
    75% {
        border-width: 1px;
    }
    100% {
        transform: translate(-50%, -50%) scale(1.1);
        opacity: 0;
        border-width: 1px;
    }
}

/*==================================
    ||SUB_ITEM_START||
====================================*/
.subItem {
    display: flex;
    background: #6a6363;
    padding: 25px;
}

.subItem .subText h3 {
    font-size: 20px;
    margin: 0 0 10px;
    color: #fff;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.subItem .subText:hover h3{
    color: #bb0b0b;
}

.subItem .subText p {
    color: #fff;
    margin: 0;
    line-height: 22px;
}

.subItem .subIcon {
    margin-right: 12px;
}

.subItem .subIcon img {
    padding: 10px 8px 0 0;
}

/*========================================
    ||SKILL_SECTION_END||
=========================================*/

/*========================================
    ||TESTIOMONIAL_SECTION_START||
=========================================*/
.testimonialSection{
    background-image: url(../img/testi-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.testiImg img {
    width: 100%;
    display: block;
    max-width: 580px;
}


.testiContent img {
    max-width: 70px;
    width: 100%;
    display: block;
}

.testiContent p {
    color: #fff;
    font-size: 23px;
    padding: 34px 0 15px 0;
}

.clientArea {
    display: flex;
    align-items: center;
}

.clientArea .clientImg img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
}

.clientInfo h3 {
    color: #fff;
    font-size: 20px;
    margin: 0 0 6px;
}

.clientInfo {
    padding-left: 20px;
}

.clientInfo span {
    color: #878787;
    display: block;
}

.testiArea .owl-dots{
    text-align: initial;
    margin-top: 50px;
}

.testiArea .owl-dots .owl-dot {
    width: 25px;
    height: 8px;
    background: #bb0b0b;
    display: inline-block;
    margin: 0 8px;
    border-radius: 0;
    border: none;
    padding: 3px 0;
    box-shadow: 0px 3px 8px 0px rgb(0 0 0 / 25%);
    transition: all 0.3s ease;
}

.testiArea .owl-dots .owl-dot:hover,
.testiArea .owl-dots .owl-dot.active{
    width: 40px;
    background: #bb0b0b;
    opacity: .5;
}

/*========================================
    ||TESTIMONIAL_SECTION_END||
=========================================*/

/*========================================
    ||BLOG_SECTION_START||
=========================================*/

.blogSection{
    background-image: url(../img/blog-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blogItem .blogImg img {
    width: 100%;
    display: block;
    position: relative;
}

.blogItem .blogImg {
    position: relative;
}

.blogItem .blogImg .blogMeta {
    position: absolute;
    bottom: 0;
    left: 60px;
    text-align: center;
    padding: 15px 0 10px;
    background: #bb0b0b;
    align-items: center;
    right: 0;
    justify-content: center;
}

.blogItem .blogImg .blogMeta:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 50px solid #bb0b0b;
    border-left: 45px solid transparent;
    bottom: 0;
    left: -45px;
    display: block;
}

.blogItem .blogImg .blogMeta {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}

.blogconten {
    box-shadow: 0 6px 25px #eee;
    background: #fff;
    padding: 33px 24px 38px 42px;
}

.blogconten h3 {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
}


.blogconten .button {
    padding: 9px 50px 9px 25px;
    position: relative;
}

.blogconten .button i {
    font-size: 18px;
    line-height: 18px;
    position: absolute;
    transform: translateX(5px);
    visibility: hidden;
    transition: .3s ease-in;
}

.blogconten .button:hover i {
    visibility: visible;
    transform: translateX(10px);
}

.blogSlider{
    position: relative;
}

.blogSlider .owl-dots{
    margin-top: 10px;
}

.blogSlider .owl-dots .owl-dot {
    width: 25px;
    height: 8px;
    background: #bb0b0b;
    display: inline-block;
    margin: 0 8px;
    border-radius: 0;
    border: none;
    padding: 3px 0;
    box-shadow: 0px 3px 8px 0px rgb(0 0 0 / 25%);
    transition: all 0.3s ease;
}

.blogSlider .owl-dots .owl-dot.active{
    width: 40px;
    background: #bb0b0b;
    opacity: .5;
}
/*========================================
    ||BLOG_SECTION_END||
=========================================*/

/*========================================
    ||CONTACT_SECTION_START||
=========================================*/
.contactSection{
    background-image: url(../img/contact-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contactTitle h2 {
    color: #fff;
    max-width: 600px;
    width: 100%;
    height: auto;
    margin: 0 auto !important;
    margin-top: 26px !important;
}

.contactMap iframe {
    width: 100%;
}

.from-control {
    padding: 17px 17px 17px 17px;
    color: #fff;
    border-style: solid;
    border-color: #0D0D0D;
    width: 100%;
    max-width: 100%;
    background: #0D0D0D;
    outline-color: black;
    outline: none;
    border-width: 1px 1px 1px 1px;
    opacity: 1;
    font-size: 16px;
}

.contactForm textarea {
    height: 150px;
}

.contactMap img {
    height: 400px;
    width: 100%;
    display: block;
    object-fit: cover;
}

.contactItem {
    display: flex;
    background-image: url(../img/con-box.png);
    padding: 30px 30px 30px 30px;
}

.contactItem .contactIcon img {
    width: 50px;
    height: 50px;
    max-width: unset;
    padding: 10px 5px 0px 0px;
    margin-top: 5px;
}
.contactText {
    padding: 0px 0px 0px 15px;
}

.contactText h3 {
    font-size: 20px;
    color: #fff;
    margin: 0 0 10px;
    line-height: 46px;
}

.contactText p {
    color: #fff;
    font-size: 15px;
    margin: 0;
}

/*========================================
    ||CONTACT_SECTION_END||
=========================================*/

/*========================================
    ||FOOTER_SECTION_START||
=========================================*/
.footerTop{
    background: #121212;
}

.footerLogo img {
    height: 40px;
}

.footerLogo {
    margin-bottom: 30px;
}

.footerText-1 p {
    line-height: 24px;
    font-size: 15px;
    color: #fff;
}

.footerLink ul {
    display: flex;
}

.footerLink ul li {
    margin-right: 10px;
    padding-right: 10px;
    text-align: center;
    border-radius: 2px solid;
}

.footerLink ul li i {
    background: #1c2024;
    padding: 0;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 0;
    color: #fff;
    font-size: 15px;
    transition: 0.5s ease;
}

.footerLink ul li:hover i{
    background: #BB0B0B;
    color: #fff;
}

.footerText-2 h3 {
    color: #fff;
    text-transform: capitalize;
    font-size: 20px;
}

.footerText-2:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 4px;
    background: #bb0b0b;
    left: 0;
    bottom: -4px;
}

.footerText-2 {
    position: relative;
}

.serviceLink li a {
    color: #fff;
}

.serviceLink li {
    padding-bottom: 10px;
}

.serviceLink ul li {
    font-size: 15px;
    color: #fff;
}
.footertext-3 {
    position: relative;
}

.footertext-3::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 4px;
    bottom: -4px;
    background: #bb0b0b;
    left: 0;
}

.footertext-3 h3 {
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
}



.contactLink ul li {
    padding: 0 0 16px 40px;
    position: relative;
    color: #fff;
    font-size: 15px;
}

.contactLink ul li i {
    position: absolute;
    left: 0;
    font-size: 24px;
    color: #bb0b0b;
    padding-top: 6px;
}
.footerText-4{
    position: relative;
}

.footerText-4 h3::after {
    content: "";
    position: absolute;
    background: #bb0b0b;
    width: 50px;
    height: 4px;
    bottom: -4px;
    left: 0;
}

.footerText-4 h3 {
    color: #ffff;
    font-size: 20px;
    position: relative;
}

.footerText-4 p {
    color: #fff;
    font-size: 15px;
}

.footerText-4 input {
    padding: 20px 60px 20px 20px;
    border: none;
    border-radius: 0;
    outline: none;
    width: 100%;
    color: #0a0a0a;
    font-size: 15px;
}

.footerText-4 {
    margin-bottom: 20px;
}

.footerBottom {
    background: #000;
}

.copyRightText {
    padding: 20px 0;
}

.copyRightText p {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 15px;
}

.copyRightMenu ul {
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: center;
}

.copyRightMenu {
    padding: 20px 0;
}

.copyRightMenu ul li a {
    padding: 0 20px 0 25px;
    color: #fff;
    position: relative;
}

.copyRightMenu ul li a::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background: #bb0b0b;
    top: 11px;
    left: 0;
    border-radius: 50%;
}

/*========================================
    || FOOTER_SECTION_END||
=========================================


